* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    margin: 30px 50px;
}
.atom-element {
    border-radius: 97px;
    background: #e0e0e0;
    box-shadow:  34px 34px 64px #afafaf, -34px -34px 64px #ffffff;
    width: 350px;
    padding: 40px;
}
.atom-element > h4 {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 50px;
    font-size: 28px;
}
article {
    margin: 20px;
    display: inline-block;
}
.aligning {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
    padding: 15px;
}
a:hover {
    font-size: 22px;
    transition: ease-in 500ms;
}